<div class="container-fluid">

     <div class="jumbotron marginUp">
      <form action="POST">
        <div class="settingsContainer">
          <div class="row">
            <h1>Ustawienia konta</h1>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Imię" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Nazwisko" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Adres" required>
              </mat-form-field>
              <mat-form-field >
                <input class="halfWidth" matInput placeholder="Ulica" required>
              </mat-form-field>
              <mat-form-field >
                <input class="halfWidth" matInput placeholder="Miasto" required>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>

