<div class="container">
  <div class="col-sm-12">

    <div class="col-sm-12 header-act">
      <h1 class="h1-responsive font-weight-bold">Dodawanie konta</h1>
      <p class="lead">Wprowadź dane aby utowrzyć nowe konto</p>
      <hr class="my-2">
    </div>
    <div class="col-sm-5">

      <form #account="ngForm" (ngSubmit)="onSubmit(account.value)">
        <mat-form-field>
          <h6>Wybierz rodzaj konta.</h6>

          <mat-select name="accountType" id="accountType" [(value)]="selected" name="accountType" ngModel>
            <mat-option value="Premium">PREMIUM</mat-option>
            <mat-option value="Standard">STANDARD</mat-option>
          </mat-select>
        </mat-form-field>
        <p>Wybrałeś konto: <strong>{{selected}} </strong></p>

        <input type="text" id="account" class="form-control" name="account" ngModel mdbActive>
        <label for="account">Podaj nazwę konta</label>

        <input type="number" step="0.01" min="1" id="amount" class="form-control" ngModel name="amount" mdbActive>
        <label for="amount">Podaj kwote</label>
        <br>

        <button type="submit" value="submit" class="btn btn-unique waves-light" mdbRippleRadius>Utwórz konto
        </button>

      </form>


    </div>

  </div>
</div>
