
<!--<mat-card  class="login-component">-->
  <!--<mat-card-title>Logowanie</mat-card-title>-->
  <!--<mat-card-subtitle>Podaj poprawne dane aby się zalogować</mat-card-subtitle>-->
  <!--<mat-card-content>-->
    <!--<form class="login-form">-->
      <!--<mat-form-field>-->
        <!--<input class="input-full" type="string" matInput placeholder="Login" required>-->
        <!--<mat-icon matSuffix>account_box</mat-icon>-->
      <!--</mat-form-field>-->
      <!--<mat-form-field  align="center">-->
        <!--<input class="input-full" type="password" matInput placeholder="Password" required>-->
        <!--<mat-icon matSuffix>lock</mat-icon>-->
      <!--</mat-form-field>-->
    <!--</form>-->
  <!--</mat-card-content>-->
  <!--<mat-card-actions></mat-card-actions>-->

<!--</mat-card>-->
<div class="login-box">

  <form class="login-form">
    <mat-form-field>
      <input class="input-full" type="string" matInput placeholder="Login" required>
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>
    <mat-form-field  align="center">
      <input class="input-full" type="password" matInput placeholder="Password" required>
      <mat-icon matSuffix>lock</mat-icon>
   </mat-form-field>
      <button mat-button >Zaloguj</button>
  </form>
</div>

