<div class="container">
  <div class="col-sm-12">

    <div class="col-sm-12 header-act">
      <h1 class="h1-responsive font-weight-bold">Depozyt</h1>
      <p class="lead">Wybierz konto na które chcesz wpłacić pieniądze</p>
      <hr class="my-2">
    </div>
    <div class="col-sm-5">

      <form #depositForm="ngForm" (ngSubmit)="onSubmit(depositForm.value)" >
        <input type="text" id="account" class="form-control" name="account" mdbActive ngModel>
        <label for="account">Wybierz konto</label>

        <input type="number" step="0.01" min="1" id="amount" name="number" class="form-control" mdbActive ngModel>
        <label for="amount">Podaj kwote</label>
        <br>

        <button type="submit" value="submit" class="btn btn-unique waves-light" mdbRippleRadius>Wpłać</button>

      </form>


    </div>

  </div>
</div>

