
/*.mat-tab-group[mat-stretch-tabs] .mat-tab-label,
.mat-tab-group[mat-stretch-tabs] .mat-tab-label {
  flex-basis: 0;
  flex-grow: 1;
}*/

.marginContent {
  margin: 70px;
}

.marginUp {
  margin-top: 50px;
}

.header-act{
  margin-top: 25px;
}

.mat-form-field {
  width: 100%;
}


.unique-text{
  color:#880e4f;
}

.unique-text.active{
  color: #880e4f!important;
}
.md-form label{
  color: #880e4f!important;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #880e4f;
  box-shadow: 0 1px 0 0 #880e4f;
}
