<div class="container">
  <div class="row header-act">

    <div class="col-sm-4">
      <h3 class="h3-responsive font-weight-bold">Ogólne</h3>
      <h6 class="h6-responsive ">Poniżej wyświetla się lista Twoich kont.</h6>

      <!--Lista kont z ilością pieniedzy na koncie - tu powinna być pętla-->
      <hr class="my-2">
      <form #newTransactionForm="ngForm" (ngSubmit)="onSubmit(newTransactionForm.value)">
        <mat-form-field>
          <h6>Wybierz konto z którego chcesz wykonać przelew.</h6>

          <mat-select name="destinationAccount" id="destinationAccount" [(value)]="selected" ngModel>
            <mat-option value="0000000">Konto oszczędnościowe</mat-option>
            <mat-option value="0000001">Konto rodzinne</mat-option>
            <mat-option value="0000002">Konto podstawowe</mat-option>
          </mat-select>
        </mat-form-field>
        <p>Wybrałeś: <strong>{{selected}} </strong></p>
        <input type="text" id="account" class="form-control" mdbActive>
        <label for="account">Wpisz numer konta</label>
        <textarea type="text" id="addressInfo" class="md-textarea"></textarea>
        <label for="addressInfo">Adres</label>
        <input type="number" id="amount" class="form-control" mdbActive>
        <label for="amount">Wpisz kwote</label>
        <textarea type="text" id="title" class="md-textarea"></textarea>
        <label for="title">Tytuł przelewu</label>
        <br>
        <button type="submit" value="submit" class=" btn btn-unique waves-light" mdbRippleRadius>Wykonaj przelew
        </button>
      </form>
    </div>

    <!--<div class="col-sm-4">-->
    <!--<h3 class="h3-responsive font-weight-bold">Przelew na</h3>-->
    <!--<h6 class="h6-responsive ">Lorem ipsum dolor sit amet.</h6>-->
    <!--<hr class="my-2">-->
    <!--<div class="md-form marginUp">-->
    <!--<input type="text" id="account" class="form-control" mdbActive>-->
    <!--<label for="account">Wpisz numer konta</label>-->
    <!--</div>-->
    <!--<div class="md-form marginUp">-->
    <!--<textarea type="text" id="adressInfo" class="md-textarea"></textarea>-->
    <!--<label for="adressInfo">Adres</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
    <!--<h3 class="h3-responsive font-weight-bold">Szczegóły przelewu</h3>-->
    <!--<h6 class="h6-responsive ">Lorem ipsum dolor sit amet.</h6>-->
    <!--<hr class="my-2">-->
    <!--<div class="md-form marginUp">-->
    <!--<input type="number" id="amount" class="form-control" mdbActive>-->
    <!--<label for="amount">Wpisz kwote</label>-->
    <!--</div>-->
    <!--<div class="md-form marginUp">-->
    <!--<textarea type="text" id="title" class="md-textarea"></textarea>-->
    <!--<label for="title">Tytuł przelewu</label>-->
    <!--</div>-->
    <!--<mat-form-field>-->
    <!--<input matInput [matDatepicker]="picker1" placeholder="Data przelewu" [formControl]="date">-->
    <!--<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
    <!--<mat-datepicker #picker1></mat-datepicker>-->
    <!--</mat-form-field>-->
    <!--<div>-->
    <!--<button class="btn btn-unique waves-light" mdbRippleRadius>Wyślij przelew</button>-->
    <!--</div>-->

    <!--</div>-->

  </div>
</div>

