    <mat-tab-group mat-stretch-tabs>
      <mat-tab  label="Przelew zwykły">
        <div class="marginContent">
      <h1>TEST</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias cumque cupiditate earum error fugiat, fugit inventore ipsa, molestias necessitatibus officia pariatur quasi quo ratione recusandae rem reprehenderit vel. Excepturi.</p>


        </div>
      </mat-tab>
      <mat-tab  label="Przelew własny">Content 2</mat-tab>
      <mat-tab  label="Doładowanie telefonu">Content 2</mat-tab>

    </mat-tab-group>

