
/*.mat-tab-group[mat-stretch-tabs] .mat-tab-label,
.mat-tab-group[mat-stretch-tabs] .mat-tab-label {
  flex-basis: 0;
  flex-grow: 1;
}*/

.marginContent {
  margin: 70px;
}

.marginUp {
  margin-top: 50px;
}
